



/* Quantity Input Styling */
input[type="number"] {
  width: 50px;
  font-size: 0.8rem; /* Reduced font size */
}

/* Cart Specific Styles */
.cart-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  max-height: 90vh; /* Set a maximum height */

}

/* Input and Form Styles */
input, select, textarea {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #e1e1e1;
  width: 100%;
  margin-bottom: 1rem;
}


/* Total Price Styling */
h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}


