/* Navbar.css */
.navbar-light.bg-light {
  background-color: transparent !important;
}

/* Target navbar links and increase font size */
.navbar .nav-link {
  font-size: 17px; /* Adjust the size to your preference */
}

/* Adjust the size of cart item count */
.navbar .badge {
  font-size: 10px; /* Adjust to your preference */
}

/* Remove default button styles */
.navbar .nav-link {
  background-color: transparent;
}


button.nav-link {
  padding: 0;
}

button.nav-link:focus, 
button.nav-link:hover {
  transform: none;
}

.form-select {
  margin-left: 10px; /* Space it out from the search bar */
}

form.d-flex input.form-control {
  background-color: transparent !important;

  border-radius: 25px;
}
select.form-select {
  background-color: transparent !important;
  border: 2px solid #c7c5c700; /* Primary color for the border */
  border-radius: 25px;
  padding: 8px 22px;
  font-size: 16px;
  color: #333;
  appearance: none; /* Removes default select arrow */
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

select.form-select:focus {
  border-color: #74a7dd00;
  box-shadow: 0 0 5px rgba(66, 134, 224, 0);
}


.sr-only {
  border-radius: 25px;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}


.logo {
  position: absolute; /* Fixes the logo in place */
  left: 50%; /* Centers it horizontally */
  transform: translateX(-50%); /* Ensures it's perfectly centered */
  width: 240px;
  height: auto;
  z-index: 10; /* Makes sure it stays on top of other elements */
  margin-bottom: 30px; /* Space it out from the search bar */

}

