/* Navbar.css */
.navbar-light.bg-light {
  background-color: transparent !important;
}

/* Target navbar links and increase font size */
.navbar .nav-link {
  font-size: 17px; /* Adjust the size to your preference */
}



/* Adjust the size of cart item count */
.navbar .badge {
  font-size: 10px; /* Adjust to your preference */
}

/* Remove default button styles */
.navbar .nav-link {
  background-color: transparent;
}


button.nav-link {
  padding: 0;
}

button.nav-link:focus, 
button.nav-link:hover {
  transform: none;
}

.form-select {
  margin-left: 10px; /* Space it out from the search bar */
}
