/* Header Styles */
h1, h2 {
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
}

.product-detail-wrapper p {
  color: rgb(51, 51, 51);
  text-align: left;
  
}

.product-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Space between columns */
}

.product-info-item {
  flex: 1 1 30%; /* Take 30% width for each item, but allow flexibility */
  min-width: 200px; /* Set a minimum width */
}


.product-detail-wrapper figure {
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

}

.product-detail-wrapper figure img {
  border-radius: 10px; /* Rounded corners */
  transition: transform 0.2s ease-in-out, box-shadow 0.8s ease; /* Smooth transition for hover effects */
}

.product-detail-wrapper figure img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  
}
